.landing-hero_container
{
    width: 100%;
    /* min-height: calc(100vh - 60px); */
    overflow-x: hidden;
    position: relative;
}

.landing-hero_wrapper
{
    display: flex;
    /* align-items: center; */
    padding: 5rem 10rem;

}

.lh-right,.lh-left
{
    width: 50%;
    position: relative;
}

.lh-text
{
    margin: 3rem 0;
    font-size: 3.2rem;
}

.lh-left p
{
    max-width: 40ch;
    line-height: 1.7;
    margin-bottom: 2rem;
}

span
{
    color:#0DC9BB;
}

.gt-section
{
    display: flex;
    width: 100%;
    max-width: 400px;
    height: 40px;
    border-radius: 0.3em;
    overflow: hidden;
}

.gt-section input
{
    width: 80%;
    outline: none;
    border: none;
    padding: 0 1rem;
    font-size: 1.05rem;
    color: #656565;
}

.reg-btn
{
    width: 20%;
    background-color: #0DC9BB;
    color: black;
    font-weight: 500;
    display: grid;
    place-content: center;
    cursor: pointer;
    opacity: 0.85;
    transition: opacity 0.2s ease-in-out;
}

.reg-btn:hover
{
    opacity: 1;
}

.lh-image_container
{
    width: 100%;
    height: 1000px;
    position: relative;
}

.yarns-sample
{
    height: 500px;
    width: auto;
}


@media screen and (max-width:1143px) {
    .landing-hero_wrapper
    {
        padding: 5rem 2rem;
    }
}

@media screen and (max-width:876px) {
    .landing-hero_wrapper {
        flex-direction: column;
    }

    .lh-left,.lh-right
    {
        width: 100%;
    }

    .lh-left
    {
        margin-bottom: 3rem;
    }

        .lh-image_container {
            width: 100%;
            height:auto;
            position: relative;
        }

        .yarns-sample
        {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
}

@media screen and (max-width:420px) {
    .gt-section {
        font-size: 0.7rem;
    }

    .gt-section input
    {
        width: 70%;
    }

    .reg-btn
    {
        width: 30%;
    }

}